<!-- <% include partials/header %>
<h1>landing page!!</h1>

<a href="/campgrounds">View All Campgrounds</a>
=======

<div class="container">
	<div class="jumbotron">
			<h1>Things to Check Out:</h1>

			<a class="btn btn-success" href="/campgrounds">View All Campgrounds</a>
			<a class="btn btn-info" href="/circles">Play with Circles and Sound</a>
	</div>
</div>

<% include partials/footer %> -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>iJustHelp - Full stack freelancing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta name="description" content="The latest and greatest technologies used to bring you an optimized, fast, and responsive website. Your dream website is just a conversation away." />
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
    	.jumbotron {
    		text-align: center;
    	}
    </style>
</head>
<body>
<div class="jumbotron">
  <h1>iJust.Help is under construction.</h1> 
  <p><h2>We are working on creating a brand new website.</p></h2>
  <p><h2>In the meantime, check out <a href="http://nikitabuyevich.com/"><button class="btn btn-primary">nikitabuyevich.com</button></a></p></h2>
</div>
</body>
</html>