.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.center {
	float: none;
	margin: 0 auto;
	text-align: center;
}

.data-form {
	max-width: 400px;
}